/* 声明字体图标 要注意路劲变化 */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?ppczv9');
    src:  url('../fonts/icomoon.eot?ppczv9#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?ppczv9') format('truetype'),
      url('../fonts/icomoon.woff?ppczv9') format('woff'),
      url('../fonts/icomoon.svg?ppczv9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
.w {
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.style_red {
    color: #c81623;
}

/* 快捷导航模块 */
.shortcut {
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1;
}

.shortcut ul li {
    float: left;
}

.shortcut .fr ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 9px 15px 0;
}

.arrow-icon::after {
    content: '\ea02';
    font-family: 'icomoon';
    margin-left: 5px;
}


/* header 头部模块制作 start */
.header{
    height: 105px;
    /* background-color: pink; */
    position: relative;
}
.logo{
    width: 171px;
    height: 61px;
    /* background-color: #c81623; */
    position: absolute;
    top: 25px;
}
/* logo */
.logo a{
    display: block;
    width: 171px;
    height: 61px;
    background: url(../images/logo.png) no-repeat 10px;
    background-size: 150px 70px;
    font-size: 0;
} 
/* search搜索 */
.search{
    width: 538px;
    height: 36px;
    border: 2px solid red;
    position: absolute;
    left: 346px;
    top: 25px;
}
.search input{
    width: 454px;
    height: 32px;
    padding-left: 10px;
    float: left;
}
.search button{
    float: left;
    width: 80px;
    height: 32px;
    background-color: #b1191a;
    font-size: 16px;
    color: #fff;

}
/* hotworde关键热词 */
.hotworde{
    position: relative;
    top: 66px;
    left: 346px;
}
.hotworde a{
    margin: 0 10px;
}
/* 购物车 */
.shopcar{
    width: 140px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
    position: absolute;
    top: 25px;
    right: 60px;
    text-align: center;
}
.shopcar::after{
content: '\e901';
font-family: 'icomoon';
color: #c81623;
}
.shopcar::before{
content: '\e901';
font-family: 'icomoon';
}
.count{
    position: absolute;
    top: -5px;
    left: 105px;
    height: 14px;
    line-height: 14px;
    color: #fff;
    background-color: #e60012;
    padding: 0 5px;
    border-radius: 7px 7px 7px 0 ;
}
/* nav模块 */
.nav{
    height: 47px;
    border-bottom: 2px solid #b1191a;
}
.nav .dropdown{
    float: left;
    width: 210px;
    height: 47px;
    background-color: #b1191a;
}
.nav .navitems{
    float: left;
}
.dropdown .dt{
    width: 100%;
    height: 100%;
    line-height: 47px;
    color: #fff;
    text-align: center;
    font-size: 16px;
}
.dropdown .dd{
    width: 210;
    height: 465px;
    background-color: #c81623;
    /* display: none; */
}
.dropdown .dd ul li {
    height: 31px;
    line-height: 31px;
    margin-left: 2px;
    padding-left: 8px;
    position: relative;
}
.dropdown .dd ul li::after{
    content: '\e902';
    font-family: 'icomoon';
    position: absolute;
    right: 10px;
    color: yellow;
}
.dropdown .dd ul li:hover{
  background-color: #fff;
}
.dropdown .dd ul li a{
font-size: 14px;
color: #fff;
}
.dropdown .dd ul li:hover a {
    color: #c81623;
}
.navitems ul li {
float: left;
line-height: 47px;
}
.navitems ul li a{
    display: block;
    padding: 0 25px;
    font-size: 16px;
}

/* 底部模块制作 */
.footer{
    height: 415px;
    background-color: #f5f5f5;
    padding-top: 30px;
}
.mod_service{
    height: 80px;
    border-bottom:1px solid #ccc ;
}
.mod_service ul li {
    width: 300px;
    height: 50px;
    float: left;
    /* background-color: pink; */
    padding-left: 35px;
}
.mod_service ul li h5{
    width: 50px;
    height: 50px;
    /* background-color: rosybrown; */
    float: left;
    margin-right: 8px;
    background: url(../images/50px.png);
}
.mod_service ul li div h4{
    padding: 4px 0;
    font-size: 14px;
}
.mod_service ul li div p{
    padding: 4px 0;
    font-size: 12px;
}
.mod_help{
    height: 185px;
    border-bottom: 1px solid #ccc;
    padding-left: 50px;
    padding-top: 20px;
}
.mod_help dl dt {
    font-size: 16px;
    margin-bottom: 10px;
}
.mod_help dl{
    float: left;
    width: 190px;
}
.mod_copyright{
    text-align: center;
    padding-top: 20px;
}
.mod_copyright .links{
    margin-bottom: 15px;
}
.mod_copyright .links span{
   margin: 0px 6px  ;
}