.w{
    width: 1200px;
    margin: 0 auto;
}
header{
    height: 84px;
    border-bottom:  2px solid #c81523;
}
.logo{
    padding-top: 18px;
}
.registterea{
    height: 522px;
    margin-top: 20px;
    border: 1px solid #ccc;
}
.registterea h3{
    height: 42px;
    border-bottom:1px solid #ccc;
    background-color: #ececec;
    line-height: 42px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 400;
}
.registterea .login{
    float: right;
    font-size: 14px;
}
.login a {
    color: red;
}
.reg_form{
    width: 600px;
    margin: 50px auto 0;
}
.reg_form ul li label {
    display: inline-block;
    width: 88px;
    text-align: right;
}
.reg_form ul li .inp {
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
}
.error{
    color: #c81523;
}
.error_icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/ccc.jpg) no-repeat;
    vertical-align: middle;
    margin-top: -2px;
}
.success{
    color: green;
}
.success_icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/ddd.jpg) no-repeat;
    vertical-align: middle;
    margin-top: -2px;
}
.reg_form ul li{
    margin-bottom: 20px;
}
.safe em{
    padding:  0 12px;
    color: #fff;
}
.ruo{
    background-color: #de1111;
}
.zhong{
    background-color: #40b83f;
}
.qiang{
    background-color: #f79100;
}
.safe{
    padding-left: 166px;
}
.agree input{
    vertical-align: middle;
}
.agree{
    padding-left: 92px;
    margin-top: 35px;
}
.agree a{
    color: aqua;
}
.btn{
    width: 200px;
    height: 34px;
    background-color: #c81623;;
    font-size: 14px;
    color: #fff;
    margin: 20px 0 0 112px;
}
.mod_copyright{
    text-align: center;
    padding-top: 20px;
}
.mod_copyright .links{
    margin-bottom: 15px;
}
.mod_copyright .links span{
   margin: 0px 6px  ;
}